@using Model.BookModels;

@model CatalogVM
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Library System</h1>
    <p class="lead">Demo</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Book List</h2>
        <table class="table">
            <tr>
                <th>
                    BookID
                </th>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>

                <th>Genre</th>

                <th>Availability</th>
            </tr>
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.BookID, "BookAndBorrowalDetails", new { bookID = item.BookID })

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.PersonID))
                        {
                            <div style="color:green">Available</div>
                        }
                        else
                        {
                            <div style="color:indianred">Borrowed</div>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Details", "BookAndBorrowalDetails", new { bookID = item.BookID }) |
                        @Html.ActionLink(string.IsNullOrEmpty(item.PersonID) ? "Borrow" : "Update Borrowal", "BorrowBook", new { bookID = item.BookID })
                        @if (!string.IsNullOrEmpty(item.PersonID))
                        {
                           <span>|</span>  @Html.ActionLink("Return Book", "ReturnBook", new { bookID = item.BookID })
                        }

                    </td>
                </tr>
            }
        </table>
    </div>
</div>